<section class="container mt-3 contact-container">
  <div class="row">
    <div class="col-lg-6 d-flex justify-content-center flex-column">
      <h4 class="contact-title mb-4">{{'LAYOUT.FOOTER.CONTACT.TITLE' | translate}}</h4>
      <div class="contact-item" *ngFor="let info of contactInfo">
        <img class="img-fluid contact-icon" [src]="info.image" alt="info.content">
        <p class="contact-content justify-text">{{info.content}}</p>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid contact-map" src="/assets/images/contact/info/map.png" alt="map">
    </div>
  </div>
</section>
