<!-- Search Bar -->
<app-product-search-bar #search *ngIf="selectedCategoryItem?.type === eCategory.SEARCH && !showProductDetail" [films]="selectedCategoryItem.id == 3" (itemsFound)="itemsFoundEmitter.emit($event)"></app-product-search-bar>

<!-- Filter Bar -->
<app-product-filter #filter *ngIf="selectedCategoryItem?.type === eCategory.FILTER && !showProductDetail" (itemsFound)="itemsFoundEmitter.emit($event)"></app-product-filter>

<!-- Come Back -->
<div class="btn-back" *ngIf="showProductDetail">
  <a (click)="hideProductDetail()"><i class="fas fa-chevron-left"></i> {{'GENERIC.BACK' | translate}}</a>
</div>

<section class="row product-items-wrapper mt-5" *ngIf="!showProductDetail">
  <div class="col-xl-4 col-lg-6 col-md-6 d-flex justify-content-end" *ngFor="let product of selectedCategoryItem ? selectedCategoryItem.subcategory : []; let i = index">
    <!-- Product Item -->
    <div class="product-item">
      <!-- Header -->
      <div class="product-header" [class.product-header-active]="i === null">
        <img class="img-fluid product-item-image" [src]="product.product_photo" [alt]="product.name">
      </div>
      <!-- Footer -->
      <div class="product-item-footer" [class.product-item-footer-active]="i === null">
        <span class="product-item-title">{{currentLanguage.language == 'es' ? product.name : product.product_EN[0].name}}</span>
        <!-- <a class="product-item-action" [routerLink]="['/productos/detalle', product.id]">
          Ver Más
          <span class="product-item-action-icon" [class.product-item-action-icon-active]="i === 0">
            <i class="fas fa-chevron-right"></i>
          </span>
        </a> -->
        <a class="product-item-action" (click)="goToProductDetail(product)">
          {{'GENERIC.SEEMORE' | translate}}
          <span class="product-item-action-icon" [class.product-item-action-icon-active]="i === null">
            <i class="fas fa-chevron-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <h6 class="no-results-text" *ngIf="selectedCategoryItem.subcategory ? selectedCategoryItem.subcategory.length == 0 : true">{{selectedCategoryItem.subcategory !== undefined ? ('GENERIC.NO_RESULTS_PRODUCTS' | translate):('GENERIC.LOADING_PRODUCTS' | translate)}}</h6>
</section>

<div *ngIf="selectedCategoryItem && !showProductDetail" class="row justify-content-center">
  <div style="text-align: center" class="col-xl-4 col-lg-6 col-md-6 d-flex justify-content-end">
    <button *ngIf="!isLoading && selectedCategoryItem.pagination ? selectedCategoryItem.pagination.links.next !== '' : false" class="btn btn-load-more" (click)="loadMoreProducts()">{{'GENERIC.LOADMORE' | translate}}</button>
  </div>
</div>
<!-- Product Detail -->
<app-product-detail #detail *ngIf="showProductDetail && productSelected" [product]="productSelected"></app-product-detail>
