<!-- Mobile Top Padding -->
<div class="main-content"></div>

<!-- Sustainability Banner -->
<app-sustainability-banner></app-sustainability-banner>

<!-- Products -->
<app-sustainability-products [sustainabilityData]="sustainabilityData"></app-sustainability-products>

<!-- Plastic Sustainability -->
<app-plastic-sustainability [sustainabilityData]="sustainabilityData"></app-plastic-sustainability>

<!-- Our Actions -->
<app-our-actions [sustainabilityData]="sustainabilityData"></app-our-actions>

<!-- Green Sustainability -->
<app-green-sustainability [sustainabilityData]="sustainabilityData"></app-green-sustainability>
