header {
  /* border: 1px solid red; */
  margin-top: 50px;
  position: fixed;
  left: 5%;
  right: 4%;
  z-index: 1030;
}
.custom-nav-menu {
  background: rgba(255, 255, 255, 0.8) !important;
  border-radius: 0 40px 40px 0;
  height: 60px;
  position: relative;
}
#navbarPolpusa ul {
  width: 100%;
  justify-content: space-around;
}
.custom-nav-item {
  /* border: 1px solid red; */
}
.custom-nav-link {
  color: #0A1450 !important;
  font-family: "Lato-Bold";
  font-weight: 400;
  line-height: 22px;
  height: 70px;
  display: flex;
  align-items: center;
}
.custom-active,
.custom-nav-link:hover {
  background-color: #009EE2 !important;
  border-radius: 5px;
  color: #ffffff !important;
}
.cotizar {
  background-color: #29AAE3;
  border-radius: 18px;
  color: #ffffff !important;
  width: 109px;
  font-family: 'Lato-Bold';
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.language {
  color: #002D73;
  font-family: 'Lato-Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.language-item:hover{
  cursor: pointer;
  background-color: #eaeaea;
}
.logotype {
  position: relative;
  left: -60px;
  height: 100px;
  margin-top: 20px;
}
@media only screen and (max-width:768px) {
  #navbarPolpusa ul {
    width: auto;
    margin: 0 !important;
  }
  #navbarPolpusa ul li.d-flex,
  #navbarPolpusa ul li.d-flex {
    display: block !important;
  }
}
@media only screen and (max-width:990px) {
  header {
    margin-top: 0;
    left: 0;
    right: 0;
  }
  .custom-nav-menu {
    border-radius: 0;
    height: auto;
  }
  .custom-nav-link {
    height: auto;
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .logotype {
    height: auto;
    margin: 0;
    position: static;
  }
}
