<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light custom-nav-menu">
    <img class="logotype img-responsive" src="/assets/images/menu/logo.svg" alt="logo">
    <!-- <a class="navbar-brand" href="#">Menu</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item custom-nav-item">
          <a class="nav-link custom-nav-link" [routerLink]="['/inicio']" routerLinkActive="custom-active">Inicio</a>
        </li>
        <li class="nav-item custom-nav-item">
          <a class="nav-link custom-nav-link" [routerLink]="">Productos</a>
        </li>
        <li class="nav-item custom-nav-item">
          <a class="nav-link custom-nav-link" [routerLink]="">Nosotros</a>
        </li>
        <li class="nav-item custom-nav-item">
          <a class="nav-link custom-nav-link" [routerLink]="">Contacto</a>
        </li>
        <li class="nav-item custom-nav-item">
          <a class="nav-link custom-nav-link" [routerLink]="">Sustentabilidad</a>
        </li>
        <li class="nav-item custom-nav-item">
          <a class="nav-link custom-nav-link" [routerLink]="['/blog']" routerLinkActive="custom-active">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cotizar</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/assets/images/menu/globe.svg" alt="globe">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Es</a>
            <a class="dropdown-item" href="#">En</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
