.about-us-wrapper {
  background-color: #00A3DA;
  position: relative;
}
.about-us-title {
  color: #ffffff;
  font-family: 'Montserrat-Bold';
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
}
.container-fluid .row:nth-of-type(even) {
  display: flex;
  flex-direction: row-reverse;
}
/*.container-fluid .row:nth-child(1) .about-us-item p {*/
/* width: 521px;*/
/*}*/
/*.container-fluid .row:nth-child(2) .about-us-item p {*/
/* width: 95%;*/
/*}*/
/*.container-fluid .row:nth-child(3) .about-us-item p {*/
/* width: 380px;*/
/*}*/
.about-us-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}
.about-us-item-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
.container-fluid .row:nth-child(1) .about-us-item-picture div::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 75%;
  right: -20px;
  bottom: -20px;
  border-right: 20px solid #BCE3F9;
  border-bottom: 20px solid #BCE3F9;
}
.container-fluid .row:nth-child(2) .about-us-item-picture div::after {
  position: absolute;
  content: "";
  width: 83%;
  height: 63%;
  left: -20px;
  top: -20px;
  border-left: 20px solid #BCE3F9;
  border-top: 20px solid #BCE3F9;
}
.container-fluid .row:nth-child(3) .about-us-item-picture div::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 67%;
  right: -20px;
  top: -20px;
  border-right: 20px solid #BCE3F9;
  border-top: 20px solid #BCE3F9;
}
.container-fluid .row:nth-of-type(even) .about-us-item-picture {
  padding-right: 0;
}
.about-us-content {
  color: #ffffff;
  font-family: 'Lato-Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
}
.about-us-banner-bottom {
  width: 100%;
  position: absolute;
  bottom: -50px;
}

@media only screen and (max-width: 990px) {
  .about-us-item {
    align-items: center;
  }
  .about-us-item-picture {
    padding: 0 15px !important;
  }
  .about-us-banner-bottom {
    display: none;
  }
  .container-fluid .row:nth-child(1) .about-us-item p {
    width: auto;
  }
  .container-fluid .row:nth-child(2) .about-us-item p {
    width: auto;
  }
  .container-fluid .row:nth-child(3) .about-us-item p {
    width: auto;
  }

  .about-us-item-picture div::after {
    position: absolute;
    content: "";
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    border: 10px solid #BCE3F9 !important;
  }
}
