<section class="about-us-wrapper">
  <h4 class="about-us-title">Nosotros</h4>
  <app-title-bar [background]="'#ffffff'" [width]="'115px'" [height]="'7px'"></app-title-bar>

  <div class="mt-5 container-fluid">
    <div class="row">
      <div class="col-lg-5 about-us-item-picture">
        <div class="ps-r">
          <img class="img-fluid" src="/assets/images/about/about-us/portada.jpg" alt="portada">
        </div>
      </div>
      <div class="col-lg-7 about-us-item">
        <p class="about-us-content">Polietileno Publicitario S.A. nació en 1986 de la necesidad de crear una nueva empresa que pudiera satisfacer de
          manera integral la demanda de bolsas y películas de polietileno para el mercado del sureste mexicano.
        </p>
        <p class="about-us-content">Su fundador, Don Joaquín López Peniche, que desde años antes ya fabricaba bolsas en una empresa familiar, "Peniche
          Propaganda", decidió iniciar esta nueva empresa para especializarse en la fabricación de empaques flexibles de alta
          calidad.</p>
        <app-title-bar [background]="'#ffffff'" [width]="'100px'" [height]="'4px'" [float]="'left'"></app-title-bar>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 about-us-item-picture">
        <div class="ps-r">
          <img class="img-fluid" src="/assets/images/about/about-us/tecnologia.jpg" alt="tecnologia">
        </div>
      </div>
      <div class="col-lg-6 about-us-item">
        <p class="about-us-content">Hoy en día fabricamos bolsas con sello pouche, películas monocapa y coextruídas de polietileno en alta y baja
          densidad y polipropileno. Igualmente hacemos laminaciones para aplicaciones de empaques que requieren barrera al medio
          ambiente y, además, contamos con la más alta tecnología en impresión flexográfica, lo que nos permite imprimir
          trabajos en alta definición hasta 8 tintas.
        </p>
        <p class="about-us-content">
          A lo largo de estos 30 años hemos crecido hasta convertirnos en la fábrica de polietileno más moderna e importante de
          la región. El éxito de nuestra empresa se basa en una política de calidad y servicio enfocada al cliente y a un
          constante desarrollo e innovación de nuevas tecnologías para la manufactura de nuevos productos para el empaque
          flexible.
        </p>
        <app-title-bar [background]="'#ffffff'" [width]="'100px'" [height]="'4px'" [float]="'left'"></app-title-bar>
      </div>
    </div>
    <div class="row" style="position: relative; z-index: 1;">
      <div class="col-lg-5 about-us-item-picture">
        <div class="ps-r">
          <img class="img-fluid" src="/assets/images/about/about-us/polpusa.jpg" alt="polpusa">
        </div>
      </div>
      <div class="col-lg-7 about-us-item">
        <p class="about-us-content">En Polietileno Publicitario siempre estamos evolucionando e innovando nuevos conceptos, destacando en nuestro
          catálogo toda una completa gama de productos que podemos ofrecer a nuestros clientes. </p>
          <app-title-bar [background]="'#ffffff'" [width]="'100px'" [height]="'4px'" [float]="'left'"></app-title-bar>
      </div>
    </div>
  </div>
  <img class="img-fluid about-us-banner-bottom" src="/assets/images/about/banner/banner-bottom.png" alt="banner-bottom">
</section>
