<section class="about-us-wrapper">
  <h4 class="about-us-title">{{'US.US.TITLE' | translate}}</h4>
  <app-title-bar [background]="'#ffffff'" [width]="'115px'" [height]="'7px'"></app-title-bar>

  <div class="mt-5 container-fluid">
    <div class="row">
      <div class="col-lg-5 about-us-item-picture">
        <div class="ps-r">
          <img class="img-fluid" src="/assets/images/about/about-us/portada.jpg" alt="portada">
        </div>
      </div>
      <div class="col-lg-7 about-us-item">
        <p class="about-us-content">
          {{'US.US.DES1' | translate}}
        </p>
        <app-title-bar [background]="'#ffffff'" [width]="'100px'" [height]="'4px'" [float]="'left'"></app-title-bar>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 about-us-item-picture">
        <div class="ps-r">
          <img class="img-fluid" src="/assets/images/about/about-us/tecnologia.jpg" alt="tecnologia">
        </div>
      </div>
      <div class="col-lg-6 about-us-item">
        <p class="about-us-content">
          {{'US.US.DES2' | translate}}

        </p>
        <p class="about-us-content">
          {{'US.US.DES3' | translate}}
        </p>
<!--        <p class="about-us-content">-->
<!--          A lo largo de estos 30 años hemos crecido  hasta convertirnos en la fábrica de polietileno más moderna e importante de la región.-->
<!--        </p>-->
        <app-title-bar [background]="'#ffffff'" [width]="'100px'" [height]="'4px'" [float]="'left'"></app-title-bar>
      </div>
    </div>
    <div class="row" style="position: relative; z-index: 1;">
      <div class="col-lg-5 about-us-item-picture">
        <div class="ps-r">
          <img class="img-fluid" src="/assets/images/about/about-us/polpusa.jpg" alt="polpusa">
        </div>
      </div>
      <div class="col-lg-7 about-us-item">
        <p class="about-us-content">
          {{'US.US.DES4' | translate}}
        </p>
<!--        <p class="about-us-content">En Polietileno Publicitario siempre estamos evolucionando e innovando nuevos conceptos, destacando en nuestro-->
<!--          catálogo toda una completa gama de productos que podemos ofrecer a nuestros clientes. </p>-->
        <app-title-bar [background]="'#ffffff'" [width]="'100px'" [height]="'4px'" [float]="'left'"></app-title-bar>
      </div>
    </div>
  </div>
  <img class="img-fluid about-us-banner-bottom" src="/assets/images/about/banner/banner-bottom.png" alt="banner-bottom">
</section>
