<section class="mt-5">
  <h4 class="strategy-title">{{'HOMEPAGE.STRATEGIES.TITLE' | translate}}</h4>
  <app-title-bar [background]="'#BCE3F9'" [width]="'115px'" [height]="'7px'"></app-title-bar>
  <div class="strategy-wrapper">
    <div class="strategy-item mt-5">
      <img class="img-fluid strategy-item-picture" src="/assets/images/home/strategies/comunidad.png" alt="comunidad">
      <span class="strategy-item-title">
        <div class="title-centered">{{'HOMEPAGE.STRATEGIES.COMUNITY.TITLE' | translate}}</div>
      </span>
      <ul class="strategy-item-list mt-3">
        <li>{{'HOMEPAGE.STRATEGIES.COMUNITY.1' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.COMUNITY.2' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.COMUNITY.3' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.COMUNITY.4' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.COMUNITY.5' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.COMUNITY.6' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.COMUNITY.7' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.COMUNITY.8' | translate}}</li>
      </ul>
    </div>
    <div class="strategy-item mt-5">
      <img class="img-fluid strategy-item-picture" src="/assets/images/home/strategies/bienestar-interno.png" alt="bienestar-interno">
      <span class="strategy-item-title">
        <div class="title-centered">{{'HOMEPAGE.STRATEGIES.WELLNESS.TITLE' | translate}}</div>
      </span>
      <ul class="strategy-item-list mt-3">
        <li>{{'HOMEPAGE.STRATEGIES.WELLNESS.1' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.WELLNESS.2' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.WELLNESS.3' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.WELLNESS.4' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.WELLNESS.5' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.WELLNESS.6' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.WELLNESS.7' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.WELLNESS.8' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.WELLNESS.9' | translate}}</li>
      </ul>
    </div>
    <div class="strategy-item mt-5">
      <img class="img-fluid strategy-item-picture" src="/assets/images/home/strategies/medio-ambiente.png" alt="medio-ambiente">
      <span class="strategy-item-title">
        <div class="title-centered">{{'HOMEPAGE.STRATEGIES.ECOLOGY.TITLE' | translate}}</div>
      </span>
      <ul class="strategy-item-list mt-3">
        <li>{{'HOMEPAGE.STRATEGIES.ECOLOGY.1' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.ECOLOGY.2' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.ECOLOGY.3' | translate}}</li>
      </ul>
    </div>
    <div class="strategy-item mt-5">
      <img class="img-fluid strategy-item-picture" src="/assets/images/home/strategies/economia.png" alt="economia">
      <span class="strategy-item-title">
        <div class="title-centered">{{'HOMEPAGE.STRATEGIES.ECONOMY.TITLE' | translate}}</div>
      </span>
      <ul class="strategy-item-list mt-3">
        <li>{{'HOMEPAGE.STRATEGIES.ECONOMY.1' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.ECONOMY.2' | translate}}</li>
      </ul>
    </div>
    <div class="strategy-item mt-5">
      <img class="img-fluid strategy-item-picture" src="/assets/images/home/strategies/gobernanza.png" alt="gobernanza">
      <span class="strategy-item-title">
        <div class="title-centered">{{'HOMEPAGE.STRATEGIES.GOVERNANCE.TITLE' | translate}}</div>
      </span>
      <ul class="strategy-item-list mt-3">
        <li>{{'HOMEPAGE.STRATEGIES.GOVERNANCE.1' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.GOVERNANCE.2' | translate}}</li>
        <li>{{'HOMEPAGE.STRATEGIES.GOVERNANCE.3' | translate}}</li>
      </ul>
    </div>
  </div>
</section>
