<section class="mt-5">
  <h4 class="strategy-title">Estrategias</h4>
  <app-title-bar [background]="'#BCE3F9'" [width]="'115px'" [height]="'7px'"></app-title-bar>
  <div class="row container-fluid">
    <div class="col-md-2">
      <img src="../../../../assets/images/home/strategies/comunidad.png" alt="comunidad">
      <span>Comunidad</span>
      <ul>
        <li><a href=""></a></li>
      </ul>
    </div>
    <!-- <div class="col-md-2">
      <img src="" alt="">
      <span></span>
      <ul>
        <li><a href=""></a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <img src="" alt="">
      <span></span>
      <ul>
        <li><a href=""></a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <img src="" alt="">
      <span></span>
      <ul>
        <li><a href=""></a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <img src="" alt="">
      <span></span>
      <ul>
        <li><a href=""></a></li>
      </ul>
    </div> -->
  </div>
</section>
