<section class="mt-5">
  <h4 class="strategy-title">Estrategias</h4>
  <app-title-bar [background]="'#BCE3F9'" [width]="'115px'" [height]="'7px'"></app-title-bar>
  <div class="strategy-wrapper">
    <div class="strategy-item mt-5">
      <img class="img-fluid strategy-item-picture" src="/assets/images/home/strategies/comunidad.png" alt="comunidad">
      <span class="strategy-item-title">
        <div class="title-centered">Comunidad</div>
      </span>
      <ul class="strategy-item-list mt-3">
        <li>Compromiso con la comunidad local</li>
        <li>Desarrollo de comunidad colaborativa</li>
        <li>Igualdad de oportunidades</li>
        <li>Calidad de vida familiar</li>
        <li>Brindar herramientas que faciliten el desarrollo académico y profesional</li>
        <li>Reconocimiento a la cultura maya</li>
        <li>Apoyo a grupos vulnerables</li>
        <li>Fomentar la educación en principios éticos y morales</li>
      </ul>
    </div>
    <div class="strategy-item mt-5">
      <img class="img-fluid strategy-item-picture" src="/assets/images/home/strategies/bienestar-interno.png" alt="bienestar-interno">
      <span class="strategy-item-title">
        <div class="title-centered">Bienestar interno</div>
      </span>
      <ul class="strategy-item-list mt-3">
        <li>Integración de comunidad colaborativa</li>
        <li>Desarrollo de comunidad colaborativa</li>
        <li>Estilo de vida saludable</li>
        <li>Fomento del deporte</li>
        <li>Calidad de vida familiar</li>
        <li>Fomentar la educación en principios éticos y morales</li>
        <li>Capacitación y desarrollo de los colaboradores</li>
        <li>Bienestar de los colaboradores</li>
        <li>Salud y seguridad en el trabjo</li>
      </ul>
    </div>
    <div class="strategy-item mt-5">
      <img class="img-fluid strategy-item-picture" src="/assets/images/home/strategies/medio-ambiente.png" alt="medio-ambiente">
      <span class="strategy-item-title">
        <div class="title-centered">Medio ambiente</div>
      </span>
      <ul class="strategy-item-list mt-3">
        <li>Reducción de emiciones CO2</li>
        <li>Ofrecer productos que cumplan los principios de economía circular</li>
        <li>Actividades de concientización ambiental</li>
      </ul>
    </div>
    <div class="strategy-item mt-5">
      <img class="img-fluid strategy-item-picture" src="/assets/images/home/strategies/economia.png" alt="economia">
      <span class="strategy-item-title">
        <div class="title-centered">Economía</div>
      </span>
      <ul class="strategy-item-list mt-3">
        <li>Incrementar ventas a traves de alianzas estratégicas</li>
        <li>Ofrecer porductos que cumplan los principios de economía circular</li>
      </ul>
    </div>
    <div class="strategy-item mt-5">
      <img class="img-fluid strategy-item-picture" src="/assets/images/home/strategies/gobernanza.png" alt="gobernanza">
      <span class="strategy-item-title">
        <div class="title-centered">Gobernanza</div>
      </span>
      <ul class="strategy-item-list mt-3">
        <li>Cumplimiento legal</li>
        <li>Institucionalización de la compañia</li>
        <li>Desarrollo de habilidades de liderazgo en equipo directo.</li>
      </ul>
    </div>
  </div>
</section>
