<section class="container-fluid form-contact-wrapper">
  <h2 class="form-title">{{'CONTACT.FORM.TITLE' | translate}}</h2>
  <!-- Form Options -->
  <div class="row">
    <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
      <img class="img-fluid form-option-icon" [class.option-icon-active]="selectedFormOption ===  formOptions.PROVIDER" [src]="selectedFormOption ===  formOptions.PROVIDER ? '/assets/images/contact/form/provider-active.png' : '/assets/images/contact/form/provider.png'" alt="provider" (click)="chooseFormOption(formOptions.PROVIDER)">
      <span class="form-option-title mt-4 mb-4" [class.option-title-active]="selectedFormOption ===  formOptions.PROVIDER">{{'CONTACT.FORM.OPTIONS.1' | translate}}</span>
    </div>
    <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
      <img class="img-fluid form-option-icon" [class.option-icon-active]="selectedFormOption ===  formOptions.CLIENT" [src]="selectedFormOption ===  formOptions.CLIENT ? '/assets/images/contact/form/client-active.png' : '/assets/images/contact/form/client.png'" alt="client" (click)="chooseFormOption(formOptions.CLIENT)">
      <span class="form-option-title mt-4 mb-4" [class.option-title-active]="selectedFormOption === formOptions.CLIENT">{{'CONTACT.FORM.OPTIONS.2' | translate}}</span>
    </div>
    <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
      <img class="img-fluid form-option-icon" [class.option-icon-active]="selectedFormOption ===  formOptions.WORK" [src]="selectedFormOption ===  formOptions.WORK ? '/assets/images/contact/form/work-active.png' : '/assets/images/contact/form/work.png'" alt="work" (click)="chooseFormOption(formOptions.WORK)">
      <span class="form-option-title mt-4 mb-4" [class.option-title-active]="selectedFormOption ===  formOptions.WORK">{{'CONTACT.FORM.OPTIONS.3' | translate}}</span>
    </div>
  </div>

  <!-- Form Options Content -->
  <div class="form-options-content">
    <!-- PROVIDER FORM -->
    <app-polpusa-form *ngIf="selectedFormOption ===  formOptions.PROVIDER" [formType]="4"></app-polpusa-form>
    <!-- CLIENT FORM -->
    <app-polpusa-form *ngIf="selectedFormOption ===  formOptions.CLIENT" [formType]="5"></app-polpusa-form>
    <!-- WORK FORM -->
    <app-polpusa-form *ngIf="selectedFormOption ===  formOptions.WORK" [formType]="6"></app-polpusa-form>
  </div>
</section>
