<section class="ps-r">
  <div class="category-wrapper" id="accordion">
    <div *ngFor="let category of productCategories; let i = index">
      <div [id]="'cat-'+category.id">
        <h5 class="d-flex align-items-center">
          <button class="btn btn-link btn-category"
                  data-toggle="collapse"
                  [attr.data-target]="'#collapse-'+category.id"
                  aria-expanded="true"
                  [attr.aria-controls]="'collapse-'+category.id"
                  [innerHTML]="currentLanguage.language == 'es' ? category.name : category.category[0].title"
                  (click)="selectedCategory(category)">
            <!-- {{category.name}} -->
          </button>
          <span class="btn-category-icon">
            <i [ngClass]="categorySelectedItem === category ? 'fas fa-angle-down' : 'fas fa-angle-right'" ></i>
          </span>
        </h5>
      </div>
      <div [id]="'collapse-'+category.id" class="collapse" [class.show]="i === 0" [attr.aria-labelledby]="'cat-'+category.id" data-parent="#accordion">
        <ul class="category-menu">
          <li *ngFor="let subCategory of category.subcategory; let j = index">
            <a (click)="selectedProduct(subCategory)" class="subcategory-link" [class.subcategory-link-active]="subCategory === productSelectedVal">{{currentLanguage.language == 'es' ? subCategory.name : subCategory.product_EN[0].name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
