video {
  width: 100%;
  opacity: 0.5;
  /* border: 1px solid green; */
}
.slider-title {
  color: #0a1450;
  font-family: "Montserrat-Bold";
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.btn-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #29aae3;
  border-radius: 120px;
  width: 50%;
  height: 48px;
  color: #ffffff;
  font-family: "Lato-Black";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin:  auto;
}
.banner-home {
  border: 1px solid red;
  /* padding: 250px 0 100px 0; */
  position: relative;
  height: 907px;
}
.banner-home img {
  position: absolute;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  video {
    height: 400px;
    object-fit: fill;
  }
  .banner-home {
    padding: 0;
  }
  .slider-title {
    font-size: 5vw;
    margin: 0;
    width: 100%;
  }
  .btn-slider {
    width: 80%;
  }
}
