<section class="ps-r">
  <video *ngIf="videoUrl" loop autoplay preload="auto" [muted]="true">
    <source src="{{videoUrl}}" type="video/mp4"/>
  </video>
  <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%;">
    <h1 class="slider-title">Los Especialistas en empaques flexibles de alta calidad</h1>
    <a class="btn btn-slider mt-5" [routerLink]="['/cotizar']">Cotiza nuestros productos</a>
  </div>
  <img class="product-banner" src="/assets/images/home/products/banner-home.png" alt="banner-home">
</section>
