<section class="ps-r green-sustainability-wrapper">
  <img class="img-fluid green-banner" src="/assets/images/sustainability/green/banner.png" alt="banner">

  <div class="green-box-wrapper">
    <img *ngIf="currentLanguage.language == 'es'" class="img-fluid green-box-title" src="/assets/images/sustainability/green/title.png" alt="title">
    <img *ngIf="currentLanguage.language == 'en'" class="img-fluid green-box-title" src="/assets/images/sustainability/green/greenpolpusa.png" alt="title">
    <app-title-bar [background]="'#ffffff'" [height]="'6px'" [width]="titleResize" [float]="'left'"></app-title-bar>
    <br>
    <p *ngIf="sustainabilityData" class="polpusa_in justify-text text-with-br">{{currentLanguage.language == 'es' ? sustainabilityData.polpusa_verde_brief.description : sustainabilityData.polpusa_verde_brief.translation[0].description}}</p>

    <ul *ngIf="sustainabilityData" class="green-box-menu">
      <li *ngFor="let item of getOptions()" class="green-box-menu-item">{{item}}</li>
    </ul>

    <p *ngIf="sustainabilityData" class="purpose text-with-br justify-text">{{currentLanguage.language == 'es' ? sustainabilityData.polpusa_verde_long.description : sustainabilityData.polpusa_verde_long.translation[0].description}}</p>

    <img class="img-fluid phrase" src="{{currentLanguage.language == 'es' ? '/assets/images/sustainability/green/phrase.png' : '/assets/images/sustainability/green/reduce_reuse_recycle.png'}}" alt="phrase">
  </div>

  <div class="green-div"></div>
  <img  class="img-fluid green-bold-triangle" src="/assets/images/sustainability/green/green-bold-triangle.png" alt="green-bold-triangle">
  <img *ngIf="imageA" class="img-fluid bag" src="{{imageA.file_Upload}}" alt="{{imageA.title}}">
  <img *ngIf="imageB" class="img-fluid tree" src="{{imageB.file_Upload}}" alt="{{imageB.title}}">
</section>
