<section class="ps-r green-sustainability-wrapper">
  <img class="img-fluid green-banner" src="/assets/images/sustainability/green/banner.png" alt="banner">

  <div class="green-box-wrapper">
    <img class="img-fluid green-box-title" src="/assets/images/sustainability/green/title.png" alt="title">
    <app-title-bar [background]="'#ffffff'" [height]="'6px'" [width]="titleResize" [float]="'left'"></app-title-bar>
    <br>
    <app-paragraph-with-breaks class="polpusa_in" textColor="white" *ngIf="sustainabilityData" [text]="sustainabilityData.polpusa_verde_brief.description"></app-paragraph-with-breaks>

    <ul *ngIf="sustainabilityData" class="green-box-menu">
      <li *ngFor="let item of getOptions()" class="green-box-menu-item">{{item}}</li>
    </ul>

    <div style="max-width: 771px" class="mt-5">
      <app-paragraph-with-breaks class="purpose" textColor="white" *ngIf="sustainabilityData" [text]="sustainabilityData.polpusa_verde_long.description"></app-paragraph-with-breaks>
    </div>

    <img class="img-fluid phrase" src="/assets/images/sustainability/green/phrase.png" alt="phrase">
  </div>

  <div class="green-div"></div>
  <img  class="img-fluid green-bold-triangle" src="/assets/images/sustainability/green/green-bold-triangle.png" alt="green-bold-triangle">
  <img *ngIf="imageA" class="img-fluid bag" src="{{imageA.file_Upload}}" alt="{{imageA.title}}">
  <img *ngIf="imageB" class="img-fluid tree" src="{{imageB.file_Upload}}" alt="{{imageB.title}}">
</section>
