.quote-form-product-wrapper {
  margin-top: 10rem;
}
.main-container-product{
  cursor: pointer;
}
.quote-form-product-title {
  color: #1A255D;
  font-family: 'Montserrat-Bold';
  font-size: 35px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  margin-bottom: 3rem;
}
.quote-form-product-figure {
  background-color: #ECF3FF;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  padding: 30px;
  transition: 0.2s all;
  object-fit: scale-down;
}
.quote-form-product-figure img {
  display: block;
  height: 100%;
  margin: 0 auto;
}
.quote-form-product-figure-active{
  background-color: #009EE2;
  transition: 0.2s all;
  cursor: pointer;
}
.select-all-button{
  border-color: #29aae3;
  border-radius: 21.5px;
  height: 35px;
  color: #29aae3;
  font-family: "Lato-Bold";
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}
.select-all-button-container{
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.quote-form-prodcut-item {
  color: #009EE2;
  font-family: 'Lato-Bold';
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}
.main-container-product:hover .quote-form-prodcut-item{
  color: #1A255D;
}
.quote-form-prodcut-item-active,
.quote-form-product-figure:hover + .quote-form-prodcut-item{
  color: #1A255D;
}
@media only screen and (max-width: 990px) {
  .quote-form-product-wrapper {
    margin-top: 3rem;
  }
}
