<section>
  <div class="spetial-product-wrapper">
    <!-- Left -->
    <div class="spetial-product-left">
      <div>
        <h1 class="spetial-product-left-title">Productos <span class="title-green">Especiales</span></h1>
        <p class="spetial-product-left-content">
          Somos fabricantes de empaques flexibles, como bolsas y películas de polietileno, polipropileno y otros
          polímeros. Contamos con la capacidad de extrusión hasta en 5 capas, impresión hasta 8 tintas, y estructuras
          laminadas.
        </p>
        <p class="spetial-product-left-content">
          Llevamos más de 30 años de trayectoria en el mercado cubriendo necesidades en la industria del empaque, queremos
          ser parte de su éxito.
        </p>
        <span class="trust-in-us">¡Confíe en nosotros!</span>
        <!-- Gallery -->
        <div class="gallery">
          <div class="row">
            <div class="col-md-6">
              <img class="img-fluid polpusa" src="/assets/images/sustainability/products/bag.png" alt="bag">
              <img class="img-fluid pouch mt-5" src="/assets/images/sustainability/products/pouch.jpg" alt="pouch">
            </div>
            <div class="col-md-6">
              <img class="img-fluid trompos mb-5" src="/assets/images/sustainability/products/trompos.png" alt="trompos">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Right -->
    <div class="spetial-product-right">
      <p class="spetial-product-right-title">Te invitamos a conocer toda nuestra gama de productos</p>
      <app-title-bar [background]="'#ffffff'" [width]="titleResize" [height]="'8px'"></app-title-bar>

      <h2 class="products">Productos</h2>
      <span class="products-line">de línea</span>

      <img class="img-fluid img-camiseta" src="/assets/images/sustainability/products/camiseta.png" alt="camisetas">

      <div class="d-flex justify-content-center">
        <!-- <button class="btn btn-consult">consulta</button> -->
        <a class="btn btn-consult" [routerLink]="['/contacto']">consulta</a>
      </div>
      <p class="sells">con tu asesor de ventas la <span class="sells-bold">alternativa sustentable</span> más adecuada para tu producto</p>
    </div>
  </div>
</section>