<!-- Banner -->
<app-about-banner></app-about-banner>

<!-- About Us -->
<!-- <app-about-us></app-about-us> -->

<!-- Our Purpose -->
<section class="mt-5">
  <h4 class="our-porpuse-title"><span class="c-sky">Nuestro</span> Proposito</h4>
  <app-title-bar [background]="'#BCE3F9'" [width]="'115px'" [height]="'7px'"></app-title-bar>
  <div class="mt-5">
    <img class="img-fluid d-block m-auto" style="height: 115px;" src="/assets/images/about/HWAW-logo.png" alt="HWAW-logo">
    <p class="our-porpuse-content">
      <q class="quotes">Trascender en la vida al <span class="our-porpuse-content-bold">trabajar</span> con <span class="our-porpuse-content-bold">pasión</span> para lograr el <span class="our-porpuse-content-bold">bienestar</span> de la familia <span class="our-porpuse-content-bold">Polpusa</span> y su <span class="our-porpuse-content-bold">comunidad</span></q>
    </p>
  </div>
</section>

<!-- Our Values -->
<app-our-values></app-our-values>