/* Our porpuse */
.our-porpuse-title {
  color: #0A1450;
  font-family: 'Montserrat-Bold';
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
}
.our-porpuse-content {
  color: #0A1450;
  font-family: 'Montserrat-Regular';
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  width: 771px;
  text-align: center;
  margin: 40px auto 100px auto;
}
.our-porpuse-content-bold {
  font-family: 'Montserrat-Bold';
}
@media only screen and (max-width: 768px) {
  .our-porpuse-content {
    width: 100%;
  }
}