<footer class="{{bannerClass}}">
    <div class="row row-wrapper" style="margin: 0;">
      <!-- Section 1 -->
      <div class="col-md-3 footer-item">
        <h5 class="footer-item-title">Árbol del sitio</h5>
        <ul class="nav flex-column mt-3">
          <li class="nav-item"><a class="nav-link custom-link" [routerLink]="['/inicio']">Inicio</a></li>
          <li class="nav-item"><a class="nav-link custom-link" [routerLink]="">Productos</a></li>
          <li class="nav-item"><a class="nav-link custom-link" [routerLink]="['/nosotros']">Nosotros</a></li>
          <li class="nav-item"><a class="nav-link custom-link" [routerLink]="['/contacto']">Contacto</a></li>
          <li class="nav-item"><a class="nav-link custom-link" [routerLink]="['/sustentabilidad']">Sustentabilidad</a></li>
        </ul>
      </div>
      <!-- Section 2 -->
      <div class="col-md-3 footer-item">
        <h5 class="footer-item-title">Datos de contacto</h5>
        <div class="d-flex justify-content-between mt-3">
          <span class="text-light" style="font-size: 30px; margin-right: 15px"><i class="fas fa-map-marker-alt"></i></span>
          <div>
            <p class="footer-item-content">C. 22-A No. 425 x 21 Diag. y 37, Cd. Industrial, Mérida, Yuc</p>
            <span class="footer-item-content">+52 (999) 928 4022</span>
          </div>
        </div>
      </div>
      <!-- Section 3 -->
      <div class="col-md-3 footer-item">
        <div>
          <h5 class="footer-item-title">Síguenos</h5>
          <div class="mt-4">
            <a class="footer-item-icon text-light" href="https://www.facebook.com/polpusamx" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a class="footer-item-icon text-light" href="#" target="_blank"><i class="fab fa-youtube"></i></a>
            <a class="footer-item-icon text-light" href="https://www.instagram.com/polpusamx/" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <!-- Section 4 -->
      <div class="col-md-3 footer-item">
        <div class="mt-5">
          <img style="display: block; height: 52px; width: 135px;" src="/assets/images/menu/logo.svg" alt="logotype">
        </div>
      </div>
    </div>
  </footer>
  <div class="row-col-12">
    <a href="https://dacodes.com/" target="_blank">
      <img class="dacodes-logo" src="/assets/images/footer/dacodes-logo.png" alt="dacodes-logo">
    </a>
  </div>