footer {
  /* border: 1px solid red; */
  /* height: 400px; */
  background: url(/assets/images/footer/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.row-wrapper {
  padding: 230px 0 10px 0;
  /* border: 1px solid green; */
  height: 100%;
  margin: 0;
}
.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid red; */
}
.footer-item-title {
  color: #ffffff;
  font-family: "Lato-Bold";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.footer-item:nth-child(2) .footer-item-title {
  align-self: flex-start;
}
.footer-item-content {
  color: #ffffff;
  font-family: "Lato-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.footer-item-icon {
  font-size: 30px;
  display: inline-block;
  padding: 0 1.5rem 0 0;
}
.custom-link {
  color: #ffffff;
  font-family: "Lato-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 1px 1rem;
}
.dacodes-logo {
  height: 50px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
@media only screen and (max-width: 768px) {
  footer {
    height: auto;
  }
  .footer-item {
    margin-bottom: 20px;
  }
  .footer-item:nth-child(2) .footer-item-title {
    align-self: center;
  }
  .footer-item:nth-child(3) div .footer-item-title {
    text-align: center;
  }
}
