<!-- Baner -->
<section class="blog-wrapper">
  <img class="blog-banner" src="https://cdn.pixabay.com/photo/2020/05/20/07/01/glencoe-5195121_960_720.jpg" alt="banner">
</section>

<!-- Posts -->
<section class="mt-5">
  <h2 class="title">{{'BLOG.TITLE' | translate}}</h2>
  <div class="container">
    <div class="row mt-5 mb-5" *ngFor="let post of posts">
      <div class="col-md-6">
        <img class="img-fluid flexible-img" [src]="post.image" [alt]="post.title">
      </div>
      <div class="col-md-6 post-item ">
        <h3 class="post-title">{{currentLanguage.language == 'es' ? post.title : post.blog[0].title}}</h3>
        <span class="post-date">{{post.date | date:'shortDate'}}</span>
        <p *ngIf="currentLanguage.language == 'es'" class="post-content justify-text">{{post.body | truncateText: 325}}</p>
        <p *ngIf="currentLanguage.language == 'en'" class="post-content justify-text">{{post.blog[0].body | truncateText: 325}}</p>
        <a [routerLink]="['detail/',post.id]" class="btn-read-more">{{'GENERIC.READMORE' | translate}}</a>
      </div>
    </div>
  </div>
</section>

<!-- Load More -->
<section class="container text-center">
  <button *ngIf="!isLoading && pagination ? pagination.links.next : false" class="btn btn-load-more" (click)="loadMoreBlogs()">{{'GENERIC.LOADMORE' | translate}}</button>
</section>
