<!-- Mobile Top Padding -->
<div class="main-content"></div>

<!-- Slider -->
<app-banner></app-banner>

<!-- Products Cards -->
<app-product-card></app-product-card>

<!-- Alliances -->
<section class="mt-5">
  <div class="container-fluid">
    <h3 class="title mb-5">En <strong class="c-sky">Polpusa</strong> estamos orgullosos de trabajar con marcas prestigiosas como:</h3>
    <div class="row mt-5 justify-content-center">
      <div class="col-11">
        <div ng2-carouselamos [items]="alliances" [$item]="itemTemplate" [$next]="next" [$prev]="prev" [width]="width"></div>
        <ng-template #itemTemplate let-item let-i="index">
          <div style="display: flex">
            <img class="carousel-item-polpusa" [ngStyle]="{width:itemCarouselWidth}" [src]="item.file_Upload" [alt]="item.title">
          </div>
        </ng-template>
        <ng-template #prev>
          <i class="fas fa-chevron-left" id="left"></i>
        </ng-template>
        <ng-template #next>
          <i class="fas fa-chevron-right" id="right"></i>
        </ng-template>
      </div>
    </div>
  </div>
  <img class="img-fluid mt-5" src="/assets/images/home/alliances/triangle.png" alt="triangle">
</section>

<!-- Our Presence -->
<app-our-presence></app-our-presence>

<!-- Contact -->
<app-home-contact></app-home-contact>

<!-- Social Responsability -->
<section class="social-responsability-wrapper">
  <h4 class="social-responsability-title">Responsabilidad Social</h4>
  <app-title-bar [background]="'#BCE3F9'" [width]="'115px'" [height]="'7px'"></app-title-bar>
  <img class="img-fluid d-block ml-auto mr-auto" style="width: 45%; margin-top: 5rem;" src="/assets/images/home/responsabilidad.png" alt="social-responsability">
</section>

<!-- Strategies -->
<app-strategy></app-strategy>

<!--Our brands-->
<section class="mt-5">
  <h4 class="c-sky brand-title text-center">Nuestras marcas</h4>
  <app-title-bar [background]="'#BCE3F9'" [width]="'115px'" [height]="'7px'"></app-title-bar>
  <div class="container-fluid">
    <div class="row mt-5 justify-content-center">
      <div class="col-11">
        <div ng2-carouselamos [items]="polpusaBrands" [$item]="itemTemplate2" [$next]="next" [$prev]="prev" [width]="width"></div>
        <ng-template #itemTemplate2 let-item2 let-i="index">
          <div style="display: flex">
            <img class="carousel-item-polpusa" [ngStyle]="{width:itemCarouselWidth}" [src]="item2.url" [alt]="item2.name">
          </div>
        </ng-template>
        <ng-template #prev>
          <i class="fas fa-chevron-left"></i>
        </ng-template>
        <ng-template #next>
          <i class="fas fa-chevron-right"></i>
        </ng-template>
      </div>
    </div>
  </div>
</section>

<!-- Paralax -->
<section class="mt-5 mb-5 paralax-wrapper">
  <img class="paralax-picture" src="/assets/images/home/POLPUSA_INTERIOR.jpg" alt="">
  <p class="paralax-text">Más de 30 años de experiencia ofreciendo soluciones en empaques flexibles</p>
</section>

<!-- Certifications -->
<app-certifications></app-certifications>
