<!-- Slider -->
<app-banner></app-banner>

<!-- Products Cards -->
<app-product-card></app-product-card>

<!-- Alliances -->
<section class="mt-5">
  <div class="container-fluid">
    <h3 class="title mb-5">En <strong class="c-sky">Polpusa</strong> estamos orgullosos de trabajar con marcas prestigiosas como:</h3>
    <div class="row mt-5">
      <div *ngFor="let alliance of alliances" class="col-lg-3 col-md-6 mt-5 d-flex align-items-center">
        <!-- <img class="img-fluid ml-auto mr-auto mb-5 d-block" [ngStyle]="{height: alliance.size}" [src]="alliance.url" [alt]="alliance.name"> -->
        <img class="img-fluid ml-auto mr-auto d-block" [ngStyle]="{height: alliance.size}" [src]="alliance.url" [alt]="alliance.name">
      </div>
    </div>
  </div>
  <img class="img-fluid mt-5" src="/assets/images/home/alliances/triangle.png" alt="triangle">
</section>

<!-- Our Presence -->
<app-our-presence></app-our-presence>

<!-- Contact -->
<app-home-contact></app-home-contact>

<!-- Social Responsability -->
<section class="social-responsability-wrapper">
  <h4 class="social-responsability-title">Responsabilidad Social</h4>
  <app-title-bar [background]="'#BCE3F9'" [width]="'115px'" [height]="'7px'"></app-title-bar>
  <img class="img-fluid d-block ml-auto mr-auto" style="width: 45%; margin-top: 5rem;" src="/assets/images/home/responsabilidad.png" alt="social-responsability">
</section>

<!-- Strategies -->
<app-strategy></app-strategy>

<!-- Paralax -->
<section class="mt-5 mb-5 paralax-wrapper">
  <img class="paralax-picture" src="/assets/images/home/POLPUSA_INTERIOR.jpg" alt="">
  <p class="paralax-text">Más de 30 años de experiencia ofreciendo soluciones en empaques flexibles</p>
</section>

<!-- Certifications -->
<app-certifications></app-certifications>