<section class="container-fluid">
  <h1 class="quote-form-title">¿Qué deseas cotizar?</h1>
  <!-- Form Options -->
  <div class="container quote-form-options-wrapper">
    <div class="row">
      <div class="col-md-4 quote-form-options-item">
        <div class="quote-form-options-image" [class.options-image-active]="selectedFormOption ===  formOptions.MOVIE" (click)="chooseFormOption(formOptions.MOVIE)">
          <img class="img-fluid" src="/assets/images/quote/options/round-bags.png" alt="round-bags">
        </div>
        <h3 class="quote-form-options-title" [class.quote-form-options-title-active]="selectedFormOption ===  formOptions.MOVIE">Películas <br> de Línea</h3>
      </div>
      <div class="col-md-4 quote-form-options-item">
        <div class="quote-form-options-image" [class.options-image-active]="selectedFormOption ===  formOptions.SPETIAL" (click)="chooseFormOption(formOptions.SPETIAL)">
          <img class="img-fluid" src="/assets/images/quote/options/espetial.png" alt="espetial">
        </div>
        <h3 class="quote-form-options-title" [class.quote-form-options-title-active]="selectedFormOption ===  formOptions.SPETIAL">Productos <br> de Especialidad</h3>
      </div>
      <div class="col-md-4 quote-form-options-item">
        <div class="quote-form-options-image" [class.options-image-active]="selectedFormOption ===  formOptions.LINE" (click)="chooseFormOption(formOptions.LINE)">
          <img class="img-fluid" src="/assets/images/quote/options/bag.png" alt="bag">
        </div>
        <h3 class="quote-form-options-title" [class.quote-form-options-title-active]="selectedFormOption ===  formOptions.LINE">Productos <br> de Línea</h3>
      </div>
    </div>
  </div>

  <!-- Quote Form Product -->
  <app-quote-form-product *ngIf="selectedFormOption ===  formOptions.LINE"></app-quote-form-product>

  <!-- Form Options Content -->
  <div class="form-options-content">
    <!-- MOVIE FORM -->
    <form *ngIf="selectedFormOption ===  formOptions.MOVIE">
      <!-- Application -->
      <div class="form-group">
        <select class="form-control custom-form-select" placeholder="Aplicación de interés">
          <option value="null">Aplicación de interés</option>
        </select>
      </div>
      <!-- Quantity (kg) -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Cantidad (kilos)">
      </div>
      <!-- Width -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Ancho">
      </div>
      <!-- Size -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Calibre">
      </div>
      <!-- Company Name -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Nombre de la empresa">
      </div>
      <!-- Contact Name -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Nombre del contacto">
      </div>
      <!-- Phone -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Teléfono">
      </div>
      <!-- Email -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Correo">
      </div>
      <!-- Friendly Enviroment -->
      <div class="form-group">
        <label class="custom-label">¿Te interesa que tu producto sea más amigable con el medio ambiente?</label>
        <!-- Yes -->
        <div>
          <input class="btn-enviroment" id="yes" type="radio" value="Si" name="gender">
          <label for="yes">Si</label>
        </div>
        <!-- No -->
        <div class="mt-3">
          <input class="btn-enviroment" id="no" type="radio" value="No" name="gender">
          <label for="no">No</label>
        </div>
      </div>
      <!-- Action -->
      <div class="d-flex justify-content-end mt-4">
        <button class="btn send-form-button">Enviar</button>
      </div>
    </form>
    <!-- SPETIAL FORM -->
    <form *ngIf="selectedFormOption ===  formOptions.SPETIAL">
      <!-- Application -->
      <div class="form-group">
        <select class="form-control custom-form-select" placeholder="Aplicación de interés">
          <option value="null">Aplicación de interés</option>
        </select>
      </div>
      <!-- Company Name -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Nombre de la empresa">
      </div>
      <!-- Contact Name -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Nombre del contacto">
      </div>
      <!-- Phone -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Teléfono">
      </div>
      <!-- Email -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Correo">
      </div>
      <!-- Friendly Enviroment -->
      <div class="form-group">
        <label class="custom-label">¿Te interesa que tu producto sea más amigable con el medio ambiente?</label>
        <!-- Yes -->
        <div>
          <input class="btn-enviroment" id="yes" type="radio" value="Si" name="gender">
          <label for="yes">Si</label>
        </div>
        <!-- No -->
        <div class="mt-3">
          <input class="btn-enviroment" id="no" type="radio" value="No" name="gender">
          <label for="no">No</label>
        </div>
      </div>
      <!-- Action -->
      <div class="d-flex justify-content-end mt-4">
        <button class="btn send-form-button">Enviar</button>
      </div>
    </form>
    <!-- LINE FORM -->
    <form *ngIf="selectedFormOption ===  formOptions.LINE">
      <!-- Company Name -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Nombre de la empresa">
      </div>
      <!-- Contact Name -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Nombre del contacto">
      </div>
      <!-- Phone -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Teléfono">
      </div>
      <!-- Email -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="Correo">
      </div>
      <!-- Friendly Enviroment -->
      <div class="form-group">
        <label class="custom-label">¿Te interesa que tu producto sea más amigable con el medio ambiente?</label>
        <!-- Yes -->
        <div>
          <input class="btn-enviroment" id="yes" type="radio" value="Si" name="gender">
          <label for="yes">Si</label>
        </div>
        <!-- No -->
        <div class="mt-3">
          <input class="btn-enviroment" id="no" type="radio" value="No" name="gender">
          <label for="no">No</label>
        </div>
      </div>
      <!-- Action -->
      <div class="d-flex justify-content-end mt-4">
        <button class="btn send-form-button">Enviar</button>
      </div>
    </form>
  </div>
</section>
