<section class="mt-5 contact-wrapper">
  <div class="container m-auto row">
    <div class="col-md-4 contact-item">
      <span class="contact-question">¿Tienes alguna duda?</span>
    </div>
    <div class="col-md-4 contact-item">
      <img class="img-fluid" src="/assets/images/home/contact/phone.svg" alt="phone">
      <span class="contact-title">+52 (999) 928 4022</span>
    </div>
    <div class="col-md-4 contact-item">
      <img class="img-fluid" src="/assets/images/home/contact/mail.svg" alt="mail">
      <span class="contact-title">ventas@polpusa.com</span>
    </div>
  </div>
</section>
