<div class="table-responsive">
  <table class="table specification-table">
    <thead class="specification-table-header">
      <tr class="text-center">
        <td colspan="4">Especificaciones</td>
      </tr>
    </thead>
    <tbody>
      <tr class="specification-table-title">
        <td>Ancho <br>(cm)</td>
        <td>Largo <br>(cm)</td>
        <td>Calibre</td>
<!--        <td>Rollos <br>x caja</td>-->
      </tr>
      <tr class="specification-table-body">
        <td>45.7</td>
        <td>300</td>
        <td>60</td>
<!--        <td>4</td>-->
      </tr>
    </tbody>
  </table>
</div>
