<div class="table-responsive">
  <table class="table specification-table">
    <thead class="specification-table-header">
      <tr class="text-center">
        <td colspan="4">Especificaciones</td>
      </tr>
    </thead>
    <tbody>
      <tr class="specification-table-title">
        <td>Ancho <br>(cm)</td>
        <td>Largo <br>(cm)</td>
        <td>Calibre<br>(mm)</td>
<!--        <td>Rollos <br>x caja</td>-->
      </tr>
      <tr class="specification-table-body">
        <td>{{product.specs_id[0].field_1}}</td>
        <td>{{product.specs_id[0].field_2}}</td>
        <td>{{product.specs_id[0].field_3}}</td>
<!--        <td>4</td>-->
      </tr>
    </tbody>
  </table>
</div>
