<div class="ps-r">
  <img class="img-fluid green_banner" src="/assets/images/sustainability/sustainability/banner_2.png" alt="banner_2">
</div>
<section class="plastic-wrapper">
  <div class="row pb-5">
    <div class="col-lg-7 col-md-12 d-flex flex-column justify-content-center align-items-center">
      <h2 class="plastic-title">Sustentabilidad en plástico</h2>
    </div>
    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-center">
      <p class="plastic-content">From ads that dance or sing to MTV-like commercials, online advertisers are now using a new type of technology
        called “rich media” to attract consumers.
      </p>
      <p class="plastic-content">U.S. Internet advertising revenue will have reached about $12 billion last year, up $3 billion from 2004. Of this,
        advertisers spent about $1 billion on rich media, up from $800 million in 2003, according to the Interactive
        Advertising Bureau.</p>
      <p class="plastic-content">So what exactly is rich media? By definition, it is an online advertising technique that combines graphics with
        audio technologies, giving Internet users an interactive experience. And with more than half of American households
        connected online and using high-speed connections like broadband and DSL, it means a potentially lucrative way for
        online advertisers to get consumers’ attention.</p>
    </div>
    <div class="col-lg-5 d-flex justify-content-start align-items-center mt-5 mb-5">
      <img class="img-fluid hand-image" src="/assets/images/sustainability/sustainability/eco-hand.png" alt="eco-hand">
    </div>
  </div>
</section>
