<div class="ps-r">
  <img class="img-fluid green_banner" src="/assets/images/sustainability/sustainability/banner_2.png" alt="banner_2">
</div>
<section class="plastic-wrapper">
  <div class="row pb-5">
    <div class="col-lg-7 col-md-12 d-flex flex-column justify-content-center align-items-center">
      <h2 class="plastic-title">Sustentabilidad en plástico</h2>
    </div>
    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-center">
      <br><br>
      <p *ngIf="sustainabilityData" class="plastic-content justify-text text-with-br">{{sustainabilityData.plastic_sustainability.description}}</p>
    </div>
    <div class="col-lg-5 d-flex justify-content-start align-items-center mt-5 mb-5">
      <img *ngIf="image" class="img-fluid hand-image" src="{{image.file_Upload}}" alt="{{image.title}}">
    </div>
  </div>
</section>
