.c-sky {
  color: #009EE2;
}
.text-with-br{
  white-space: pre-line;
}
.btn-back {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  margin-top: 4rem;
  margin-left: 295px;
  padding-left: 15px;
  height: 40px;
  color: #009EE2;
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 18.75px;
}
.btn-back a {
  cursor: pointer;
}
.btn-back a i {
  padding-right: 5px;
}
.justify-text{
  text-align: justify!important;
}
.required-dot{
  color: #ce1313;
  line-height: 0px;
  padding-bottom: 4px;
}
.ps-r {
  position: relative;
}
.quotes {
  quotes: "“" "”";
}
.custom-form-input {
  border: 1px solid rgba(32, 119, 189, 0.4137834821428572) !important;
  border-radius: 0 !important;
}
.custom-form-select,
.custom-form-input::placeholder {
  color: #536890 !important;
  font-family: 'Lato-Bold' !important;
}
.custom-label {
  color: #1A255D;
  font-family: 'Lato-Regular';
  font-size: 16px;
  line-height: 19px;
}
@media only screen and (max-width: 768px) {
  .main-content {
    padding-top: 103px;
  }
}

@media only screen and (max-width: 990px) {
  .btn-back {
    margin-top: 3rem;
    margin-left: 0;
  }
}
