<section class="product-detail-wrapper mt-5">
  <div class="row product-detail-header">
    <div class="col-md-4">
      <span class="product-detail-header-content">{{currentLanguage.language == 'es' ? product.name : product.product_EN[0].name}}</span>
    </div>
    <div class="col-md-8">
      <span class="product-detail-header-content">{{'GENERIC.DES' | translate}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 right-line">
      <img class="img-fluid product-detail-image" src="{{product.product_photo}}" alt="product-image">
      <span class="product-detail-image-text">{{currentLanguage.language == 'es' ? product.footer : product.product_EN[0].footer}}</span>
    </div>
    <div class="col-md-8 justify-text">
      <h3 class="product-detail-title">{{currentLanguage.language == 'es' ? product.name : product.product_EN[0].name}}</h3>
      <!--Tipo-->
      <h6 *ngIf="product.type_bag!==5">{{getType()}}</h6>
      <br>

      <!--Description-->
      <p class="product-detail-description text-with-br">{{currentLanguage.language == 'es' ? product.description : product.product_EN[0].description}}</p>
      <!--Specifications matrix-->
      <img *ngIf="product.photo_specifications!==null" class="specifications-matrix-img" src="{{currentLanguage.language == 'es' ? product.photo_specifications : product.product_EN[0].photo_specifications}}" alt="Matriz especificaciones">
      <!-- Specifications Table -->
      <app-specification-table *ngIf="product.specs_id.length !== 0" [product]="product"></app-specification-table>

      <app-features-table [tableTitle]="'PRODUCTS.PHYSICAL_PROP.TITLE' | translate" [items]="currentLanguage.language == 'es' ? propertiesEs : propertiesEn"></app-features-table>

      <app-features-table [tableTitle]="'PRODUCTS.ADVANTAGES.TITLE' | translate" [items]="currentLanguage.language == 'es' ? advantagesEs : advantagesEn"></app-features-table>
    </div>
  </div>
  <!-- Line Down -->
  <div class="down-line mt-5"></div>
  <!-- Images Carousel -->
  <app-product-carousel title="{{'PRODUCTS.SUGGESTED_USES.TITLE' | translate}}" [album]="product.image_use"></app-product-carousel>
  <app-product-carousel class="mt-3" *ngIf="product.images_type.length !== 0" title="{{'PRODUCTS.BAGS_TYPES.TITLE' | translate}}" [album]="product.images_type"></app-product-carousel>

  <!-- Line Down -->
  <div class="down-line mt-5"></div>
  <h3 class="download-title">{{'GENERIC.DOWNLOAD' | translate}}</h3>
  <div class="down-wrapper">
    <a class="btn-download" (click)="openDS(product.data_sheet)">
      <img src="/assets/images/icons/download.png" alt="Ficha técnica ES">
      <span>{{'GENERIC.DATASHEET' | translate}}</span>
    </a>
    <a class="btn-download">
      <img src="/assets/images/icons/download.png" alt="">
      <span>{{'PRODUCTS.ACTIONS.PRODUCTS_CATALOG' | translate}}</span>
    </a>
    <a class="btn-download">
      <!-- <img src="/assets/images/icons/download.png" alt=""> -->
      <span>{{'PRODUCTS.ACTIONS.QUOTE' | translate}}</span>
    </a>
  </div>

  <div class="form-wrapper">
    <h3 class="form-title">{{'PRODUCTS.FORM.TITLE' | translate}}</h3>
    <span class="form-subtitle">{{'PRODUCTS.FORM.SUBTITLE' | translate}}</span>
    <!-- MOVIE FORM -->
    <form>
      <!-- Application -->
      <div class="form-group">
        <select class="form-control custom-form-select">
          <option disabled selected value="null">{{'GENERIC.FORM_FIELD_INTEREST_APP' | translate}}</option>
        </select>
      </div>
      <!-- Quantity (kg) -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="{{'GENERIC.FORM_FIELD_QUANTITY' | translate}}">
      </div>
      <!-- Width -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="{{'GENERIC.FORM_FIELD_WIDTH' | translate}}">
      </div>
      <!-- Size -->
      <div class="form-group">
        <input type="text" class="form-control custom-form-input" placeholder="{{'GENERIC.FORM_FIELD_CALIBER' | translate}}">
      </div>
      <!-- Company Name -->
      <div class="form-group">
        <div class="required-dot">*</div>
        <input type="text" class="form-control custom-form-input" placeholder="{{'GENERIC.FORM_FIELD_COMPANY' | translate}}">
      </div>
      <!-- Contact Name -->
      <div class="form-group">
        <div class="required-dot">*</div>
        <input type="text" class="form-control custom-form-input" placeholder="{{'GENERIC.FORM_FIELD_NAME' | translate}}">
      </div>
      <!-- Phone -->
      <div class="form-group">
        <div class="required-dot">*</div>
        <input type="text" class="form-control custom-form-input" placeholder="{{'GENERIC.FORM_FIELD_PHONE' | translate}}">
      </div>
      <!-- Email -->
      <div class="form-group">
        <div class="required-dot">*</div>
        <input type="text" class="form-control custom-form-input" placeholder="{{'GENERIC.FORM_FIELD_EMAIL' | translate}}">
      </div>
      <!-- Friendly Enviroment -->
      <div class="form-group">
        <label class="custom-label">{{'GENERIC.FORM_FIELD_ECO_FRIENDLY.TITLE' | translate}}</label>
        <!-- Yes -->
        <div>
          <input class="btn-enviroment" id="yes" type="radio" value="Sí" name="gender">
          <label for="yes">{{'GENERIC.YES' | translate}}</label>
        </div>
        <!-- No -->
        <div class="mt-3">
          <input class="btn-enviroment" id="no" type="radio" value="No" name="gender">
          <label for="no">{{'GENERIC.NO' | translate}}</label>
        </div>
      </div>
      <!-- Action -->
      <div class="d-flex justify-content-end mt-4">
        <button class="btn send-form-button">{{'GENERIC.SEND' | translate}}</button>
      </div>
    </form>
  </div>
</section>
