<section class="blog-wrapper">
    <img class="blog-banner" src="../../../../assets/images/blog/blog_sustainability.png" alt="banner">
</section>

<!-- Come Back -->

<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="btn-back" style="margin: 0">
                <a (click)="back()"><i class="fas fa-chevron-left"></i> Volver</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Posts -->
            <section class="mt-3">
                <h2 class="title">{{blog ? blog.title : ''}}</h2>
                <h5 *ngIf="blog" class="date-subtitle">{{blog.date | date:'shortDate'}}</h5>
                <br>
                <div style="text-align: center;">
                    <img class="blog-wallpaper" src="{{blog.image}}" alt="banner">
                </div>
                <br><br>
                <div class="container">
                    <p class="text-with-br justify-text blog-body-text">{{blog ? blog.body : ''}}</p>
                </div>
            </section>
        </div>
    </div>
    <br><br>
    <div class="row justify-content-center">
        <div>
            <a class="text-icon"><i class="fas fa-share-alt share-icon"></i>Compartir</a>
            <a (click)="linkedInShare()"><i class="fab fa-linkedin-in social-networks-icon" aria-hidden="true"></i></a>
            <a (click)="facebookShare()"><i class="fab fa-facebook-f social-networks-icon" aria-hidden="true"></i></a>
            <a (click)="twitterShare()"><i class="fab fa-twitter social-networks-icon" aria-hidden="true"></i></a>
        </div>
    </div>
    <br><br>
    <div class="blog-divider"></div>
    <br><br><br>
    <div class="row">
        <div class="col-md-12">
            <h2 class="title">Publicaciones recomendadas</h2>
            <div class="row mt-5 mb-5" *ngFor="let post of posts">
                <div class="col-md-6">
                    <img class="img-fluid" [src]="post.image" [alt]="post.title">
                </div>
                <div class="col-md-6 post-item ">
                    <h3 class="post-title">{{post.title}}</h3>
                    <span class="post-date">{{post.date | date:'shortDate'}}</span>
                    <p class="post-content justify-text">{{post.body | truncateText: 325}}</p>
                    <a [routerLink]="['../../detail/',post.id]" class="btn-read-more">Leer más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button *ngIf="!isLoading && pagination ? pagination.links.next : false" class="btn btn-load-more" (click)="loadMoreBlogs()">Cargar más</button>
    </div>
</div>
